<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>테이블 키오스크 관리</h1>
    <form action="./manage" method="POST" enctype="multipart/form-data">
        <input type="file" name="food_img">
        <input type="text" name="food_name">
        <input type="text" name="price">
        <input type="text" name="category">
        <input type="hidden" name="operation" value="1">
        <input type="submit">
    </form>
    <button>추가/수정</button>
    <button>삭제</button>
    <h1>등록 음식</h1>
    {{ rows }}
    <h1>매출관리</h1>
    총 매출 : {{ sum }}
    <h1>cctv</h1>
</body>
</html>